<h1>Add a New Photo</h1>

<label for="title-field">Title:</label>{{view Ember.TextField id="title-field" valueBinding="controller.content.title"}}
<label for="url-field">URL:</label>{{view Ember.TextField id="url-field" valueBinding="controller.content.url"}}

<button {{action save target="Photoblog.stateManager"}}>Save</button>
<button {{action cancel target="Photoblog.stateManager"}}>Cancel</button>
