<h1>Edit a Photo</h1>
{{template "ember/templates/photos/_form"}}

<button {{action save target="Photoblog.stateManager"}}>Save</button>
<button {{action cancel target="Photoblog.stateManager"}}>Cancel</button>

