<h1>My Photoblog</h1>

{{#each controller}}
  <div class="photo">
    <h2>{{title}}</h2>
    <img {{bindAttr src="url"}}>
  </div>
{{/each}}

<button {{action showCreate target="Photoblog.stateManager"}}>Add Photo</button>
